[Unit]
Description=initialize Owncloud on first boot
After=mysql.service

[Service]
ExecStart=/usr/local/sbin/scw-init-owncloud
Type=oneshot

[Install]
WantedBy=multi-user.target
